*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart
*.mocks.dart
coverage/
android/.gradle/
android/app/build/
android/build/
android/local.properties
**/android/**/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/
.env
.env.*
*.env
*.keystore
*.jks
key.properties
firebase_options.dart
google-services.json
GoogleService-Info.plist
*.db
*.sqlite
*.sqlite3
